<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student data</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<style>
  .required:after {
    content:" *";
    color: red;
  }
</style>
</head>
<body>
  <div class="container-fluid p-0 m-0" style="height: 100vh">
        <!-- ROW 1-->
        <div class="row bg-dark d-flex flex-row align-items-center justify-content-center p-0 m-0">
          <div class="col p-0 m-0" style="height: 1000px;">
           
        <div class="row" style="background-image:url(/images/student.jpg); min-height: 900px; background-position:relative;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;">
        
          <form style="position: absolute;
          left: 300px;
          margin: 20px;
          width : 600px;
          padding: 16px;
          background-color: white;" th:action="@{savestudent}" method="post" id="createaccount">
          <div class="m-0 p-0 bg-dark text-light text-center d-flex align-items-center justify-content-center" style="height: 50px; font-size: 25px;">Student detail</div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="required">Roll No</label>
              <input type="number" name="rollNo" class="form-control"  id="rollno" aria-describedby="emailHelp" placeholder="Enter Roll No">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="required">name</label>
              <input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter your Name">  
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="required">email</label>
              <input type="email" name="email" class="form-control"  id="email" aria-describedby="emailHelp" placeholder="Enter Email">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="required">Contact</label>
              <input type="text" name="contact" class="form-control" id="contact" aria-describedby="emailHelp" placeholder="Enter Contact">  
            </div>
           <div class="form-group">
		    <label for="exampleFormControlTextarea1" class="required" >Address</label>
		    <textarea class="form-control" name="address" id="address" rows="3" 
                placeholder="Enter Address"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Save Student</button>
            <button type="reset" class="btn btn-primary">Reset</button>
          </form>
      </div>
          
      </div>
    </div>
    
    </div>
          

</body>
</html>